# Terraform
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl
providers/.terraform/
providers/*.tfstate*
environments/*/.terraform/
environments/*/providers/.terraform*

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Kubeconfig
kubeconfig
